# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Test/cache folders
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log